datasets/CoLA.zip
datasets/socialiqa-train-dev.zip
datasets/squad1.1.zip
datasets/classification/CoLA/dev.tsv
datasets/classification/CoLA/test.tsv
datasets/classification/CoLA/train.tsv
datasets/classification/CoLA/original/raw/in_domain_dev.tsv
datasets/classification/CoLA/original/raw/in_domain_train.tsv
datasets/classification/CoLA/original/raw/out_of_domain_dev.tsv
datasets/classification/CoLA/original/tokenized/in_domain_dev.tsv
datasets/classification/CoLA/original/tokenized/in_domain_train.tsv
datasets/classification/CoLA/original/tokenized/out_of_domain_dev.tsv
datasets/mrc/multirc/test.jsonl
datasets/mrc/multirc/train.jsonl
datasets/mrc/multirc/val.jsonl
dataset/CoLA.zip
dataset/socialiqa-train-dev.zip
dataset/squad1.1.zip
dataset/__init__.py
dataset/classification/CoLA/original/raw/in_domain_train.tsv
dataset/classification/CoLA/original/raw/in_domain_dev.tsv
dataset/classification/CoLA/train.tsv
dataset/classification/CoLA/test.tsv
dataset/classification/CoLA/dev.tsv
dataset/__pycache__/Datasets.cpython-37.pyc
dataset/__pycache__/__init__.cpython-37.pyc
dataset/classification/CoLA/original/raw/out_of_domain_dev.tsv
dataset/classification/CoLA/original/tokenized/in_domain_dev.tsv
dataset/classification/CoLA/original/tokenized/in_domain_train.tsv
dataset/classification/CoLA/original/tokenized/out_of_domain_dev.tsv
dataset/mrc/multirc/test.jsonl
dataset/mrc/multirc/train.jsonl
dataset/mrc/multirc/val.jsonl
tokenizers/__pycache__/__init__.cpython-37.pyc
